# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink:           pretty

# Setup
title:               Ricardo's Place
tagline:             "Robotics, machine Learning, programming or whatever is my current sideproject!"
description:         "Here I'm trying to present, in a kind of organised way, the things I'm doing, I've done, I'm planning to do or just dreaming about..."
url:                 http://ricardodeazambuja.com
baseurl:             ""
paginate:            5

# About/contact
author:
  name:              Ricardo de Azambuja
  url:               http://ricardodeazambuja.com
  email:             ricardo.azambuja@gmail.com

#
collections:
  posts:
    output: true
    permalink: /:categories/:year/:month/:day/:title/
  pages:
    output: true
    permalink: /:title/

include: ['_pages']

# Custom vars
version:             0.0.0.alpha.0
