---
layout: default
comments: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
      {{ content | replace: '<li>[ ]',
          '<li class="box task-list-item">
          <input type="checkbox" class="task-list-item-checkbox" disabled>' |
      replace: '<li>[x]',
          '<li class="box_done task-list-item">
          <input type="checkbox" class="task-list-item-checkbox" value="on" disabled checked>' |
      replace: '<a href=', '<a target="_blank" href=' }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for category in site.categories %}
      {% if category[0] == page.category %}
        {% for posts in category %}
          {% for post in posts limit:10 %}
            <li>
              <h3>
              <a class="" href={{ post.url }} target="_self">
                {{ post.title }}
              </a>
             </h3>
            </li>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="pagination">
  {% if page.previous.url %}
    <a class="pagination-item older" href={{page.previous.url}} target="_self">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next.url %}
    <a class="pagination-item newer" href="{{page.next.url}}" target="_self">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>



{% if page.comments %}

{% endif %}
